/* .div1{
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p{
  background-color: black;
  color:white;
} */

.mvList2{
  text-align: center;
}

li{
  list-style:none;
  width: 100%;
}

h1{
  text-align: center;
  color: white;
  background-color: black;
}
.Tspan,.Cspan{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  /* float: left; */
  width: 150px;
  padding: 5px;
  margin: 5px;
  width: 50%;
}

.Tspan{
  justify-content: right;
}
.Cspan{
  font-size: 12px;
  justify-content: left;
}

.mainDiv{
  width: 800px;
  text-align: center;

}

li{
  display: flex;
}



.mvList2{
  background-color:rgb(247, 246, 246);
}



.mvList3{
  text-align: center;
  background-color: rgba(241, 237, 181, 0.928);
}
.mvList4{
  text-align: center;
  background-color: rgba(241, 237, 181, 0.928);
}.mvList5{
  text-align: center;
  background-color: rgba(241, 237, 181, 0.928);
}
.clock{
  font-weight: bold;
}